.autocomplete-suggestions {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 500ms ease-in;
}

.autocomplete-suggestions ul {
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: all 500ms ease-in;
}