.sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    background-color: #343a40 !important;
    color: white;
    overflow: auto;
}

.sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

.sidebar h6 {
    font-size: 1.2em;
    color: white;
}

.sidebar ul li {
    color: rgb(215, 215, 215);
}

.sidebar ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar ul li:active {
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    .sidebar.active {
        margin-left: 0;
        transform: none;
    }
}

.plus-circle {
    width: 1em;
    height: 1em;
    background-image: url('add.png');
    background-size: cover;
    transition: all 0.3s;
    padding: 0;
    border: none;
}

.plus-circle:active,
.plus-circle:focus { 
    outline: none;; 
}

.plus-circle:hover {
    width: 1.2em;
    height: 1.2em;
}