.navbar-toggler-icon {
    background-image: url("hamburger.png");
}

.navbar.bg-dark {
    color: white;
}

.content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: calc(100vh - 3.75rem - 2px);
}